 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>OS</h2>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-apple-original"></i>
      <p>Currently user of Ubuntu and Mac OS</p>
    </div>
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <p>Currently studying web design</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <p>Experience with Python, JS, Java and C#</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-atom-original colored"></i>
      <i class="devicon-travis-plain-wordmark colored"></i>
      <p>Current user of Github, Atom and Travis </p>
    </div>
</div>
