<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/user.svg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Tono Logo">
	  <h1>Portafolio</h1>
	</a>
	<div class="header-icons">
		<a aria-label="Send email" href="mailto:a.vegaramirez76@gmail.com"><i class="icon fa fa-envelope fa-2x"></i></a> {% if site.twitter_username %}
		<a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-2x"></i></a> {% endif %} {% if site.google_plus_username %}
		<a href="https://plus.google.com/{{ site.google_plus_username }}">
      <i class="fa fa-google-plus fa-2x"></i>
    </a> {% endif %} {% if site.github_username %}
		<a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github fa-2x"></i>
    </a> {% endif %}
	</div>
</header>
