<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mimic" src="{{ "/assets/img/teamsquat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Automatic Exercise Assistance for the Elderly Using Real-Time Adaptation to Performance and Affect </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This study presents the design of a system and methodology for reducing risk of locomotive syndrome among the elderly through the delivery of real-time at-home exercise assistance via intensity modulation of a soft exoskeleton in addition with a VR supporter coach.</p>
    <a class="project-link" href="https://www.researchgate.net/publication/330925162_Automatic_Exercise_Assistance_for_the_Elderly_Using_Real-Time_Adaptation_to_Performance_and_Affect">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mimic" src="{{ "/assets/img/mimicVR.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> A soft exoskeleton jacket with pneumatic gel muscles for human motion interaction </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This project is an improving of the previous work "A soft exoskeleton jacket for human motion interaction" but now implemented in a VR interface to provide a more inmersive experience to the users generating different gestures with a soft exoskeleton.</p>
    <a class="project-link" href="https://www.researchgate.net/publication/330925009_A_soft_exoskeleton_jacket_with_pneumatic_gel_muscles_for_human_motion_interaction">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mimic" src="{{ "/assets/img/bio.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Muscleblazer: Force-Feedback Suit for Immersive Experience </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This project measure how an VR enviroment can affect the user emotions derivated of the changes in biosignals as skin resistance, heart rate and skin temperature.</p>
    <a class="project-link" href="https://www.researchgate.net/publication/330925009_A_soft_exoskeleton_jacket_with_pneumatic_gel_muscles_for_human_motion_interaction">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mimic" src="{{ "/assets/img/mimic.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> A soft exoskeleton jacket for human motion interaction </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This work proposes to use an assist device to augment the human motion feeling of one person applied to a second person using it as an avatar.</p>
    <a class="project-link" href="https://www.researchgate.net/publication/326479088_A_soft_exoskeleton_jacket_for_human_motion_interaction">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="SimpleOpenNI" src="{{ "/assets/img/SimpleOpenNI.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SimpleOpenNI </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>SimpleOpenNI is a very powerfull library to use Kinect V1, now updated to use it with Kinect V2, with Processing language and do user detection and skeleton tracking, currently I'm bringing support.</p>
    <a class="project-link" href="https://totovr.github.io/SimpleOpenNI/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mimic" src="{{ "/assets/img/MB.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> MuscleBlazer </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>MuscleBlazer is a game using pneumatic gel muscles to generate the feeling of been hitted by the shoot of the opponent, currently we are developing a VR enviroment.</p>
    <a class="project-link" href="https://www.youtube.com/watch?v=BhOtQ1B6dhI&t=79s">Check it out in Youtube</a>
  </div>
</div>
