<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mimic" src="{{ "/assets/img/mimic.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> A soft exoskeleton jacket for human motion interaction </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>This work proposes to use an assist device to augment the human motion feeling of one person applied to a second person using it as an avatar.</p>
    <a class="project-link" href="https://www.researchgate.net/publication/326479088_A_soft_exoskeleton_jacket_for_human_motion_interaction">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="SimpleOpenNI" src="{{ "/assets/img/SimpleOpenNI.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SimpleOpenNI </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>SimpleOpenNI is a very powerfull library to use Kinect V1, now updated to use it with Kinect V2, with Processing language and do user detection and skeleton tracking, currently I'm bringing support.</p>
    <a class="project-link" href="https://totovr.github.io/SimpleOpenNI/">Check it out</a>
  </div>
</div>
